VK_TOKEN=vk1.a.FpmeiYDXOip6PHsJ5dyD5iNJcSeoQVQ7z09Nivs1wABScNYG42OhelgTanb5HurCSELfhl_qe2_Lv_tySrqRdQxUPYfS_55npkI34R16QtNTWmsWKTfGZ9AR8DpM2j55-y8dK4gD-phz8M3akKc839uT5pvLrAyj3vQEeGXKzEbO3ctM8Egy2fh-FJxJJIxmKECzZJDP_BP5RWN5O45zWA
GEMINI_KEY=AIzaSyBMojVUpqiZXEM4KL8gZbn35eZnDhUoh90
HF_TOKEN=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
